<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaximaPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaximaPlugin.Properties.Settings>
            <setting name="frmSize" serializeAs="String">
                <value>137, 135</value>
            </setting>
            <setting name="frmLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="useMaximaForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedPathToMaxima" serializeAs="String">
                <value />
            </setting>
            <setting name="PathLabel" serializeAs="String">
                <value>Path to Maxima</value>
            </setting>
        </MaximaPlugin.Properties.Settings>
    </userSettings>
</configuration>